.btn-theme{
    color: #FFF;
    background: #274cbf;
    border: solid 1px #274cbf;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.btn-theme:hover{
    color: #FFF;
    background: #2646a7;
    border: solid 1px #2646a7;
}

.modal-right-content .bullets li i{
   color: #274cbf;
}

.top-header-bg {
    background: #274cbf;
}

.form-inline a:hover{
    color: #274cbf;
}

.show-more-options, .show-more-options:hover {
    color: #274cbf!important;
}

.overview .btn-border:hover{
    border: solid 2px #2646a7;
    background: #2646a7;
}

.categories ul li a:hover{
    color: #274cbf;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #274cbf;
    border-color: #274cbf;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #274cbf;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: #274cbf;
}

#page_scroller {
    background: #274cbf;
}

.setting-button {
    background: #274cbf;
}

.overview .btn-border{
    color: #274cbf;
    border: solid 2px #274cbf;
}

.overview .btn-border:hover{
    border: solid 2px #2646a7;
    background: #2646a7;
}

.banner-bg-color{
    background: #2646a7;
}

.btn-white-sm-outline:hover{
    background: #2646a7;
    border: solid 1px #2646a7;
}


.btn-white-lg-outline:hover{
    background: #2646a7;
    border: solid 2px #2646a7;
}
.btn-google{
    background: #db3236;
    border-color: #db3236;
}

.btn-google:hover{
    background: #db3236;
    border-color: #db3236;
}


.btn-color{
    background: #274cbf;
    border-color: #274cbf;
}

.btn-color:hover{
    background: #2646a7;
    border-color: #2646a7;
}

.btn-color:not([disabled]):not(.disabled).active, .btn-color:not([disabled]):not(.disabled):active, .show > .btn-color.dropdown-toggle {
    color: #fff;
    background-color: #2646a7;
    border-color: #2646a7;
    box-shadow: none;
}

.btn-theme-sm-outline{
    color: #2646a7 !important;
    border: solid 2px #2646a7;
}

.btn-theme-sm-outline:hover{
    background: #2646a7;
    border: solid 2px #2646a7;
}

.btn-border{
    color: #274cbf;
    border: solid 1px #274cbf;
}

.btn-border:not([disabled]):not(.disabled).active, .btn-border:not([disabled]):not(.disabled):active, .show > .btn-border.dropdown-toggle {
    color: #fff;
    background-color: #274cbf;
    border-color: #274cbf;
    box-shadow: none;
}

.leaflet-container a {
    color: #274cbf;
}

.btn-border:hover{
    color: #fff;
    border: solid 1px #2646a7;
    background: #2646a7;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background: #274cbf;
}

.megamenu-area .dropdown-item:hover {
    color: #274cbf;
}

.main-header .navbar-expand-lg .navbar-nav .active .nav-link{
    color: #274cbf !important;
    border-bottom: solid 2px #274cbf;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover{
    border-bottom: solid 2px #274cbf;
    color: #274cbf !important;
}

.main-header .dropdown-menu a:hover {
    background: transparent;
    color: #274cbf;
}

.sub-banner .breadcrumbs li a:hover {
    color: #274cbf;
}

.sub-banner-2 .breadcrumbs li a:hover {
    color: #274cbf;
}

.option-bar h4 {
    color: #274cbf;
}

.option-bar .heading-icon {
    background: #274cbf;
}

.option-bar h4 {
    color: #274cbf;
}

.option-bar .heading-icon .icon-design {
    color: #274cbf;
}

.change-view-btn {
    color: #274cbf;
    border: solid 1px #274cbf;
}

.active-view-btn {
    background: #274cbf;
    border: solid 1px #274cbf;
}

.change-view-btn:hover {
    border: solid 1px #274cbf;
    background: #274cbf;
}

.overlay-link:hover{
    background: #274cbf;
    border: 2px solid #274cbf;
}

.property-box .detail .title a{
    color: #274cbf;
}

.property-box-2 .detail h4{
    color: #274cbf;
}

.property-box-3 h5{
    color: #274cbf;
}

.property-box-5 .detail .title a {
    color: #274cbf;
}

.services-info i{
    color: #274cbf;
}

.services-info-3 i{
    color: #274cbf;
}

.services-info-2 i {
    color: #274cbf;
}

.attachments a:hover {
    color: #274cbf;
}

.user-profile-box .detail ul li .active {
    color: #274cbf;
}

.user-profile-box .detail ul li a:hover {
    color: #274cbf;
}

.blog-list .photo .date-box {
    background: #274cbf;
}

.faq-accordion .card-header:before {
    color: #274cbf;
}

.property-box-6 ul li i{
    color: #274cbf;
}

.intro-section {
    background: #274cbf;
}

.property-box-6 h3{
    color: #274cbf;
}

.services-info-3 h5 {
    color: #274cbf;
}

.modal-left-content .control{
    background: #274cbf;
}

.modal-right-content .price {
    color: #274cbf;
}

.testimonial .carousel-indicators .active {
    background-color: #274cbf;
}

.carousel-indicators .active {
    background-color: #274cbf;
}

.pricing.featured .listing-badges .featured {
    background: #274cbf;
}

.pricing-3 .featured{
    color: #274cbf;
}

.pages-404 .pages-404-inner h5 {
    color: #274cbf;
}

.blog-grid-box .date-box {
    background: #274cbf;
}

.pagination > li > .active {
    background: #274cbf;
}

.pagination > li > a:hover{
    background: #274cbf;
}

.tags ul li a:hover{
    border: solid 1px #274cbf;
    background: #274cbf;
}

.latest-tweet p a{
    color: #274cbf;
}

.shop-box .shop-details h4{
    color: #274cbf;
}

.form-check a{
    color: #274cbf;
}

.form-check a:hover{
    color: #2646a7;
}

.login-footer p a{
    color: #274cbf;
}

.login-footer p a:hover{
    color: #2646a7;
}

.about-text ul li i {
    color: #274cbf;
}

.amenities-box li i {
    color: #274cbf;
}

.features-opions ul li i {
    color: #274cbf;
}

.helping-center i{
    color: #274cbf;
}

.coming-soon-inner h1 span{
    color: #274cbf;
}

.filteriz-navigation li:hover {
    color: #274cbf;
}

li.active.btn.filtr-button.filtr {
    color: #274cbf;
}

.view-all ul li a:hover{
    background: #274cbf;
}

.brand-box-2 h5 a{
    color: #274cbf;
}

.search-area-3 {
    border-top: 3px solid #274cbf;
}

.min-value {
    color: #274cbf;
}

.max-value {
    color: #274cbf;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #274cbf;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #274cbf;
}

.range-slider .ui-widget-header {
    background-color: #274cbf;
}


.map-marker:hover {
    background-color: #274cbf;
    cursor: pointer;
}
.map-marker:hover:before {
    border-color: #274cbf transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #274cbf;
}
.map-marker.featured:hover:before {
    border-color: #274cbf transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #274cbf;
}

.marker-active .map-marker {
    background-color: #274cbf;
}
.marker-active .map-marker:before {
    border-color: #274cbf transparent transparent transparent;
}

.map-properties .address i{
    color: #274cbf;
}

.map-properties-btns .border-button-theme{
    color: #274cbf; !important;
}

.map-properties-btns .border-button-theme:hover{
    color: #fff !important;
}
.map-properties .map-content h4 a{
    color: #274cbf;
}

.map-properties .map-properties-fetures span i {
    color: #274cbf;
}

.dropzone-design:hover {
    border: 2px dashed #274cbf;
}

.faq-accordion .card-header a:before {
    color: #274cbf;
}

/** MEDIA **/
@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .active .nav-link{
        color: #274cbf !important;
    }

    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #274cbf !important;
    }

    .navbar-light .navbar-toggler {
        color: #274cbf;
    }
}


@media (min-width: 991px) {
    .sticky-header .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #fff !important;
        border-bottom: solid 2px transparent;
    }

    .sticky-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fff !important;
        border-bottom: solid 2px transparent;
        opacity: .8;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #515151 !important;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #515151 !important;
    }

    .header-shrink .btn-white-sm-outline {
        color: #274cbf;
        border: solid 2px #274cbf;
    }
}



