<template>
	<div class="col-lg-8 col-md-7 col-sm-12">
		<div class="my-address contact-1 widget">
			<h3 class="heading">Personal Details</h3>
			<!-- @include('partials.errors') -->
			<!-- @if(Session::has('added-admin')) -->
			<div class="alert alert-success" v-if="success">
				Successfully added anther admin
			</div>
			<validation-errors :errors="errors"></validation-errors>
			<!-- @endif -->
			<form @submit.prevent="addAdmin">
				<!-- @csrf -->
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group email">
							<label>Full Name</label>
							<input type="text" name="name" class="form-control" placeholder="Full Name" v-model="form.name">
						</div>
					</div>
					<div class="col-lg-12">
						<div class="form-group subject">
							<label>Email Address</label>
							<input type="text" name="email" class="form-control" placeholder="Email Address" v-model="form.email">
						</div>
					</div>
					<div class="col-lg-12">
						<div class="send-btn">
							<button type="submit" class="text-white btn btn-color text-white ">Add Admin</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>

<script>
import ValidationErrors from '../shared/ValidationErrors.vue';
	export default {
    components: { ValidationErrors },
         name: "AddAdmin",
		data(){
			return {
				form : {
					name: "",
					email: ""
				},
                errors: null,
                success: false
			}
		},
		methods: {
			addAdmin(){
				axios.post('/admin/create', this.form).then(response => {
                    this.success = true;
                    this.errors = null
                    setTimeout(() => {
                        this.success = false
                        this.form = {}
                    }, 3000)
                }).catch(error => {
                    this.errors = error.response.data.errors
                })
			}
		}
	}
</script>

<style>

</style>