<template>
    <div class="contact-1">
        <h2>Leave a Comment</h2>
        <div class="container">
            <div class="row">
                <form @submit.prevent="addComment">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group name">
                                <input
                                    type="text"
                                    name="name"
                                    class="form-control"
                                    :class="[errors ? 'is-invalid' : '']"
                                    placeholder="Full Names"
                                    v-model="form.name"
                                />
                                <span
                                    class="invalid-feedback"
                                    role="alert"
                                    v-if="errors"
                                >
                                    <strong>{{ errors.name[0] }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group email">
                                <input
                                    type="email"
                                    name="email"
                                    class="form-control"
                                    placeholder="Email"
                                    :class="[errors ? 'is-invalid' : '']"
                                    v-model="form.email"
                                />
                                <span
                                    class="invalid-feedback"
                                    role="alert"
                                    v-if="errors"
                                >
                                    <strong>{{ errors.email[0] }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group subject">
                                <input
                                    type="text"
                                    name="subject"
                                    class="form-control"
                                    :class="[errors ? 'is-invalid' : '']"
                                    placeholder="Subject"
                                    v-model="form.subject"
                                />
                                <span
                                    class="invalid-feedback"
                                    role="alert"
                                    v-if="errors"
                                >
                                    <strong>{{ errors.subject[0] }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group number">
                                <input
                                    type="text"
                                    name="phone"
                                    class="form-control"
                                    :class="[errors ? 'is-invalid' : '']"
                                    placeholder="Phone Number"
                                    v-model="form.phone"
                                />
                                <span
                                    class="invalid-feedback"
                                    role="alert"
                                    v-if="errors"
                                >
                                    <strong>{{ errors.phone[0] }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group message">
                                <textarea
                                    class="form-control"
                                    :class="[errors ? 'is-invalid' : '']"
                                    name="message"
                                    placeholder="Write message"
                                    v-model="form.message"
                                ></textarea>
                                <span
                                    class="invalid-feedback"
                                    role="alert"
                                    v-if="errors"
                                >
                                    <strong>{{ errors.message[0] }}</strong>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="send-btn">
                                <button type="submit" class="btn btn-primary">
                                    Leave a comment
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CommentForm",
    props: {
        blog: Object,
        comment: Object,
    },
    data() {
        return {
            form: {
                phone: "",
                name: "",
                subject: "",
                message: "",
            },
            errors: "",
        };
    },
    methods: {
        addComment() {
            axios
                .post(`/blog/${this.blog.slug}/comments`, this.form)
                .then((response) => {
                    this.$emit("addedComment", response.data);
                    this.form = {};
                    this.errors = ""
                })
                .catch((error) => {
                    this.errors = error.response.data.errors;
                });
        },
    },
};
</script>

<style>
</style>
