<template>
    <div>
        <div class="comments-section cmn-mrg-btm" v-if="items.length">
            <h2 class="comments-title">Comments Section</h2>
            <div v-for="(comment, index) in items" :key="index" class="-pb-5">
                <comments-component :comment="comment"></comments-component>
            </div>
        </div>
        <div class="container pad">
            <comment-form
                :blog="blog"
                @addedComment="add($event)"
            ></comment-form>
        </div>
    </div>
</template>

<script>
import CommentForm from "./CommentForm";
import CommentsComponent from "./CommentsComponent";
export default {
    name: "CommentsSection",
    components: { CommentForm, CommentsComponent },
    props: {
        blog: Object,
        comments: Array,
    },
    data() {
        return {
            items: this.comments,
        };
    },
    methods: {
        add(comment) {
            this.items.push(comment);
        },
    },
};
</script>

<style scoped>
.pad {
    margin-top: 100px;
}
</style>