<template>
  <ul class="comments">
    <li>
      <div class="comment">
        <div class="comment-author">
          <a href="#">
            <img
              src="/assets/img/avatar/avatar-13.jpg"
              class="rounded-circle"
              alt="avatar-13"
            />
          </a>
        </div>
        <div class="comment-content">
          <div class="comment-meta">
            <div class="comment-meta-author">{{ comment.name }}</div>
            <div class="comment-meta-reply" v-if="signedIn">
              <a href="#" class="text-primary" @click.prevent="showForm" v-text="toggleText"></a>
            </div>
            <div class="comment-meta-date">
              <span>{{ fomattedDate }}</span>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="comment-body">
            <div class="comment-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>{{ comment.message }}.</p>
          </div>
        </div>
      </div>
      <ul>
        <replies :show="show" :comment="comment" :username="username" @formEnd="end"></replies>
      </ul>
    </li>
  </ul>
</template>

<script>
import moment from 'moment';
import Replies from './Replies.vue';
export default {
  name: "CommentsComponent",
  components : { Replies },
  props: {
    comment: Object,
    username : Object
  },
  data() {
    return {
      show : false
    }
  },
  computed : {
    fomattedDate(){
     return moment(this.comment.created_at).format('LT L') ;
    },
    toggleText(){
      return this.show ? 'Cancel' : 'Reply';
    }
  },
  methods : {
    showForm(){
      this.show = !this.show;
    },
    add(comment){
      this.comment.push(comment)
    },
    end(data){
      this.show = data
    }
  }
};
</script>

<style>
</style>
