<template>
    <div class="contact-1 content-area-7">
        <div class="container">
            <div class="main-title">
                <h1>Contact Us</h1>
            </div>

            <div class="row">
                <div class="col-lg-7 col-md-7 col-md-7">
                    <div class="alert alert-success" v-if="success">
                        <span>
                            Thank you for contacting Cloudkey Rentals!
                        </span>
                    </div>
                    <!-- @endif -->
                    <form @submit.prevent="contact">
                        <!-- @csrf -->
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group name">
                                    <input
                                        type="text"
                                        :class="[errors ? 'is-invalid' : '']"
                                        v-model="form.name"
                                        name="name"
                                        class="form-control"
                                        placeholder="Name"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        role="alert"
                                        v-if="errors"
                                    >
                                        {{ errors.name[0] }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group email">
                                    <input
                                        type="email"
                                        :class="[errors ? 'is-invalid' : '']"
                                        v-model="form.email"
                                        name="email"
                                        class="form-control"
                                        placeholder="Email"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        role="alert"
                                        v-if="errors"
                                    >
                                        {{ errors.email[0] }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group subject">
                                    <input
                                        type="text"
                                        :class="[errors ? 'is-invalid' : '']"
                                        v-model="form.subject"
                                        name="subject"
                                        class="form-control"
                                        placeholder="Subject"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        role="alert"
                                        v-if="errors"
                                    >
                                        {{ errors.subject[0] }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group number">
                                    <input
                                        type="text"
                                        :class="[errors ? 'is-invalid' : '']"
                                        v-model="form.phone_number"
                                        name="phone_number"
                                        class="form-control"
                                        placeholder="Phone Number"
                                    />
                                    <span
                                        class="invalid-feedback"
                                        role="alert"
                                        v-if="errors"
                                    >
                                        {{ errors.phone_number[0] }}
                                    </span>
                                </div>
                            </div>
                            <div
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            >
                                <div class="form-group message">
                                    <textarea
                                        class="form-control"
                                        :class="[errors ? 'is-invalid' : '']"
                                        v-model="form.message"
                                        name="message"
                                        placeholder="Write message"
                                    ></textarea>
                                    <span
                                        class="invalid-feedback"
                                        role="alert"
                                        v-if="errors"
                                    >
                                        {{ errors.message[0] }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="send-btn">
                                    <button
                                        v-if="loading"
                                        type="submit"
                                        class="
                                            btn btn-color btn-md btn-message
                                            text-white
                                        "
                                    >
                                        Send Message
                                    </button>
                                    <button
                                        v-else
                                        class="
                                            btn btn-success btn-md btn-message
                                        "
                                        type="button"
                                        disabled
                                    >
                                        <span
                                            class="
                                                spinner-border spinner-border-sm
                                            "
                                            role="status"
                                            aria-hidden="true"
                                        ></span>
                                        Sending Mail...
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="offset-lg-1 col-lg-4 offset-md-0 col-md-5">
                    <div class="contact-info">
                        <h3>Contact Info</h3>
                        <div class="media">
                            <i class="fa fa-map-marker"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Office Address</h5>
                                <p>Office address ni Spring Valley Business Park, Lower Kabete Lane off Lower Kabete Road, Nairobi, Kenya</p>
                            </div>
                        </div>
                        <div class="media">
                            <i class="fa fa-phone"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Phone Number</h5>
                                <p>
                                    Office<a href="tel:+254 715 008 946"
                                        >: +254 715 008 946</a
                                    >
                                </p>
                                <!-- <p>Mobile<a href="tel:+0477-85x6-552">: +254 417 X34 7X71</a> </p>  -->
                            </div>
                        </div>
                        <div class="media mrg-btn-0">
                            <i class="fa fa-envelope"></i>
                            <div class="media-body">
                                <h5 class="mt-0">Email Address</h5>
                                <p><a href="#">info@cloudkey.co.ke</a></p>
                                <p>
                                    <a href="https://cloudkey.co.ke"
                                        >https://cloudkey.co.ke</a
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContactComponent",
    props: ["flash"],
    data() {
        return {
            form: {
                name: "",
                phone_number: "",
                message: "",
                subject: "",
                email: "",
            },
            errors: "",
            success: false,
            loading: true,
        };
    },
    methods: {
        contact() {
            this.loading = false;
            axios
                .post("/contact-us", this.form)
                .then((response) => {
                    this.success = true;
                    this.errors = "";
                    setTimeout(() => {
                        this.success = false;
                        this.form = {};
                    }, 3000);
                    this.loading = true;
                })
                .catch((error) => {
                    this.loading = true;
                    this.errors = error.response.data.errors;
                });
        },
    },
};
</script>

<style lang="css" scoped>
</style>
