<template>
  <form @submit.prevent="addReply" v-if="show">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group message">
        <textarea
          class="form-control"
          :class="[errors ? 'is-invalid' : '']"
          name="reply"
          placeholder="Your Rely to the comment"
          v-model="form.reply"
        ></textarea>
        <span class="invalid-feedback" role="alert" v-if="errors">
          <strong>{{ errors.reply[0] }}</strong>
        </span>
      </div>
    </div>
    <div
      class="d-flex justify-content-between col-lg-12 col-md-12 col-sm-12 col-xs-12"
    >
      <div class="form-group send-btn">
        <button type="submit" class="btn btn-primary">Leave a reply</button>
      </div>
      <div class="form-group">
        <a href="#" @click.prevent="cancelForm" class="btn btn-link">Cancel</a>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: "NewReplyComponent",
  props: {
    show: Boolean,
    comment: Object,
  },
  data() {
    return {
      form: {
        reply: "",
      },
      errors: "",
    };
  },
  methods: {
    addReply() {
      axios
        .post(`/comments/${this.comment.id}/reply`, this.form)
        .then(() => {this.form = {},this.refresh()})
        .catch((error) => {
          this.errors = error.response.data.errors;
        });
    },
    refresh() {
        axios.get(`/comments/${this.comment.id}`).then(response => this.$emit("addedReply", response.data))
    },
    cancelForm() {
       this.$emit('cancelled', false)
    }
  },
};
</script>

<style>
</style>
