<template>
    <div>
        <!-- @if(Session::has('updated-password')) -->
        <div class="alert alert-success" v-if="success">
            You have successfully updated your password
        </div>

        <validation-errors :errors="errors"></validation-errors>
        <!-- @endif -->
        <form @submit.prevent="settings">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group name">
                        <label for="email">Current Email</label>
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            :placeholder="user.email"
                            v-model="form.email"
                            required
                            autofocus
                        />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group email">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            v-model="form.password"
                            placeholder="Password"
                            required
                        />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group subject">
                        <label>Confirm New Password</label>
                        <input
                            type="password"
                            name="password_confirmation"
                            v-model="form.password_confirmation"
                            class="form-control"
                            placeholder="Confirm New Password"
                        />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="send-btn">
                        <button
                            type="submit"
                            class="text-white btn btn-color btn-md btn-message"
                        >
                            Update Password
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import ValidationErrors from "../shared/ValidationErrors.vue";
export default {
    components: { ValidationErrors },
    data() {
        return {
            form: {
                email: "",
                password: "",
                password_confirmation: "",
            },
            errors: null,
            success: false,
        };
    },
    methods: {
        settings() {
            axios
                .patch('/settings-password', this.form)
                .then((response) => {
                    this.success = true;
                    this.errors = null;
                    setTimeout(() => {
                        this.success = false;
                        this.form = {};
                    }, 3000);
                })
                .catch((error) => [(this.errors = error.response.data.errors)]);
        },
    },
};
</script>

<style>
</style>