<template>
  <li>
    <div v-for="(reply, index) in replies" :key="index">
    <reply :reply="reply" :comment="comment"></reply>
    </div>
    <new-reply-component
      v-if="signedIn"
      :show="show"
      :comment="comment"
      @addedReply="addReply"
      @cancelled="cancelForm"
    ></new-reply-component>
  </li>
</template>

<script>
import moment from "moment";
import NewReplyComponent from "./NewReplyComponent.vue";
import Reply from './Reply.vue'
export default {
  components: { NewReplyComponent, Reply },
  props: {
    show: Boolean,
    comment: Object,
  },
  data() {
    return {
      replies: this.comment.replies,
        editing : false
    };
  },
    methods: {
        addReply(reply) {
            this.replies = reply
        },
        cancelForm(){
            this.$emit('formEnd', false)
        },
    },
};
</script>

<style>
</style>
