<template>
    <div class="comment">
        <div class="comment-author">
            <a href="#">
                <img
                    src="/assets/img/avatar/avatar-13.jpg"
                    class="rounded-circle"
                    alt="avatar-13"
                />
            </a>
        </div>

        <div class="comment-content">
            <div class="comment-meta">
                <div class="comment-meta-author"> {{ form.user.name }} </div>

                <!-- <div class="comment-meta-reply" v-if="signedIn">
                <a href="#">Reply</a>
              </div> -->

                <div class="comment-meta-reply" v-if="signedIn">
                    <a href="#" class="text-primary" @click.prevent="toggleEditing" v-text="toggle()"></a>
                </div>
                <div class="comment-meta-date">
                    <span>{{ formattedDate }}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="comment-body">
                <div class="comment-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <div class="form-group message" v-if="editing">
                    <textarea  class="form-control" name="reply" v-model="form.reply"></textarea>
                    <div class="form-group send-btn pt-3">
                        <button class="btn btn-primary" @click="update">Edit</button>
                    </div>
                </div>
                <p v-else>
                    {{ form.reply }}
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import moment from "moment";

export default {
    name: "Reply",
    props : ['reply', 'comment'],
    data() {
        return {
            editing : false,
            form : this.reply
        }
    },
    computed: {
        formattedDate() {
            return moment(this.comment.created_at).format("LT L");
        },
    },
    methods : {
        toggleEditing(){
            this.editing = !this.editing
        },
        toggle(){
            return this.editing ? 'Cancel' : 'Edit';
        },
        update(){
            axios.patch(`/comments/${this.comment.id}/reply`, this.form)
                .then(() => {this.editing = false
                }).catch(error => {
                this.errror = error.response.data.errors
            })
        }
    }
}
</script>

<style scoped>

</style>
