<template>
    <div v-if="errors" class="alert alert-danger">
        <ul>
            <li v-for="(error, index) in errors" :key="index">{{ error[0] }}</li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "ValidationErrors",
    props: ["errors"]
}
</script>

<style>

</style>